.page-empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.page-empty img{
    width: 150px;
}

.page-empty span{
    user-select: none;
    color: #777;
    margin-top: 15px;
    font-weight: 300;
}