.page-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: -1;
}

.page-empty img {
  width: 150px;
}

.page-empty span {
  user-select: none;
  color: #777;
  margin-top: 5px;
  font-weight: 300;
  font-size: 14px;
}
