.navGame {
  height: var(--navbar-height-gamePage);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 10px;
  background-color: var(--primary-color);
}

.navGame-left {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.navGame-left > span {
  margin-left: 10px;
}

.navGame-center {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
}

.navGame-center > span {
  font-weight: 500;
  margin-left: 10px;
  color: var(--secondary-color);
  user-select: none;
  font-size: 20px;
}

.navGame-center > img {
  width: 50px;
}
