.navGame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 10px;
  background-color: var(--primary-color);
  height: var(--navbar-height-gamePage);
  transition: transform 0.3s ease;
}

.navGame.active,
.navGame.active + .poker {
  transform: translateY(0);
}

.navGame.hidden,
.navGame.hidden + .poker {
  transform: translateY(-64px);
}

.navGame.hidden + .poker {
  min-height: 100vh;
}

.navGame-right {
  display: flex;
  align-items: center;
  padding: 8px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.navGame-right > span {
  margin-left: 10px;
}

.navGame-left {
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
}

.navGame-left > span {
  font-weight: 500;
  margin-left: 10px;
  color: var(--secondary-color);
  user-select: none;
  font-size: 28px;
}

.navGame-left > img {
  width: 50px;
}
