.input{
    padding: 0 12px 5px;
    height: 100%;
    flex: 1;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid var(--primary-color);
    outline: none;
    color: var(--primary-color);
    font-weight: bold;
}

input::placeholder{
    color: var(--primary-color);
}