.game-room-header {
  display: flex;
  padding: 10px 14px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: var(--secondary-color);
  width: calc(100% - var(--navbar-width));
  height: 50px;
  animation: topToBottom 0.3s ease;
}

.game-name {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color);
}

.game-room-list {
  padding: 65px 5px 0;
  animation: rightToLeft 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
