.game-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 20px;
}

.game-item {
  width: 150px;
  margin-bottom: 25px;
  border-radius: var(--border-radius);
  border: 1px solid #999;
  background-color: var(--secondary-color);
}

.game-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #555;
  cursor: pointer;
  padding: 18px 0;
}

.game-img {
  width: 50px;
  height: 50px;
}

.game-title {
  font-weight: 500;
  margin-top: 8px;
}
