.Games{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    max-height: 80%;
    width: 100%;
    overflow: scroll;
}

.game-item{
    margin-bottom: 25px;
    flex-basis: 35%;
}

.game-link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 2px var(--primary-color); */
    color: #555;
    cursor: pointer;
    padding: 18px 0;
}

.game-img{
    width: 50px;
    height: 50px;
}

.game-title{
    font-weight: 500;
    margin-top: 8px;
}
