.user-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-bottom: 20px;
}

.user-header-item{
    margin-top: 10px;
}

.user-list{
    margin-top: 10px;
}
