.poker {
  min-height: calc(100vh - var(--navbar-height-gamePage));
  transform: translateY(0);
  transition: transform 0.3s ease, min-height 0.3s ease;
}

.poker-nav {
  padding: 0 10px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  position: sticky;
  top: 0;
  height: var(--navbar-sub-poker);
}

.poker-wrap {
  padding: 10px;
}

.poker-nav-link {
  padding: 7px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.poker-nav-link.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
