.poker {
  min-height: 100vh;
}

.poker-nav {
  padding: 0 10px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  position: sticky;
  top: 0;
  height: var(--navbar-sub-poker);
  z-index: 10;
}

.poker-wrap {
  padding: 10px;
}

.poker-nav-link {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
}

.poker-nav-link > i {
  font-size: 20px;
}

.poker-nav-link.active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
