.frame {
  --border-width: 8px;
  position: relative;
  margin: 20px calc(10px - var(--border-width) / 2);

  width: 100%;
  max-width: 400px;
  min-height: 62px;

  transition: all 0.3s ease;
}

.frame-member {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

.frame-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.frame-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);

  border-radius: var(--border-radius);
  background-color: var(--secondary-color);

  min-width: 80px;
  height: 25px;
  user-select: none;

  display: flex;
  align-items: center;
  padding: 2px 10px;
}

.frame-image {
  position: absolute;
  top: calc(var(--border-width) / -2);
  left: calc(var(--border-width) / -2);
  right: calc(var(--border-width) / -2);
  bottom: calc(var(--border-width) / -2);

  border: var(--border-width) solid #999;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.frame-title span {
  display: block;
  max-width: 150px;

  font-size: 12px;
  font-weight: 500;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  font-family: "Lobster", cursive;
  animation: textColor 12s linear infinite alternate;
}

@keyframes textColor {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

/* Custom */
