.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: var(--secondary-color);
    width: 300px;
    max-height: 300px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 0 10px #555;
}


.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    color: var(--primary-color);
    /* border-bottom: 1px solid var(--primary-color); */
}

.header-title{
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: " ...";
}

.btnClose > i{
    margin: auto;
}
.btnClose{
    margin-left: 10px;
}

.modal-body{
    flex: 1;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.modal-footer{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    /* border-top: 1px solid var(--primary-color); */
}

.btnAccept{
    margin-left: 12px;
}

.overlay{
    content: '';
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

/* MODAL LIST */
.modal-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-bottom: -20px;
}

.modal-list-item{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    /* border: 1px solid #555; */
    padding: 7px 0;
    margin-bottom: 20px;
    cursor: pointer;
}
/* 
.modal-list-item.active {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: 600;
} */

.modal-item-icon{
    font-size: 20px;
}

.modal-item-title{
    max-width: 75px;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: " ...";
    color: #555;
}

/* MODAL INPUT */
.modal-input{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.modal-input input {
    margin-bottom: 10px;
}

.modal-input input:first-child{
    margin-top: 10px;
}