.member {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 10px;
  margin-top: 0;
  --member-height: 50px;
  user-select: none;
  transition: all 0.3s ease;
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 400px;
}

.member-modal {
  margin: auto 0;
}

.member.outline {
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin-bottom: 20px;
}

.member-avatar {
  border-radius: 50%;
  height: var(--member-height);
  width: var(--member-height);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.member-name {
  font-size: 18px;
  font-weight: 500;
  max-height: var(--member-height);
  line-height: calc(var(--member-height) / 2);
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.member-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 14px;
  cursor: pointer;
}

.member-checkbox {
  cursor: pointer;
}

.member.member-modal {
  margin: 0 0 15px;
  width: 100%;
  cursor: pointer;
}
.member.member-modal:last-child {
  margin-bottom: 5px;
}

.member.member-checked {
  background: rgba(241, 187, 223, 0.5);
  border: 1px solid rgba(241, 187, 223, 0.5);
}

.member-icon {
  color: var(--primary-color);
}

.score,
.member-point .point {
  margin: 0 5px;
  min-width: 30px;
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
}
