:root{
  --srceen-width: 414px;
  --navbar-width: 70px;
  --primary-color: rgb(133, 4, 126);
  --secondary-color: #fff;
  --border-radius: 8px;
  --btnIcon-size: 40px;
  --navbar-openSize: 250px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto',sans-serif;
}

.App{
  background-color: var(--background-color);
  margin: auto;
  width: var(--srceen-width);
  height: 100vh;
  border: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#wrapper{
  margin-left: var(--navbar-width);
  padding: 12px;
  transition: all .3s ease;
  width: calc(var(--srceen-width) - var(--navbar-width));
}