:root{
  --screen-width: 100%;
  --navbar-width: 70px;
  --primary-color: rgb(133, 4, 126);
  --secondary-color: #fff;
  --border-radius: 8px;
  --btnIcon-size: 40px;
  --navbar-openSize: 250px;
}

@keyframes slideShow {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html{
  font-family: 'Roboto',sans-serif;
}

.App{
  background-color: var(--background-color);
  margin: auto;
  width: var(--screen-width);
  height: 100vh;
  border: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar{
  display: none;
}

#wrapper{
  margin-left: var(--navbar-width);
  transition: all .3s ease;
  width: calc(var(--screen-width) - var(--navbar-width));
}