.user-header{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.user-header-item{
    margin-top: 10px;
}

.user-header-input{
    margin-right: 16px;
}

.user-list{
    margin-top: 10px;
}

.modal-delete-message {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    margin: 10px 0 10px 12px;
}

.modal-delete-message > b{
    font-weight: 500;
    padding: 0 5px;
    max-width: 120px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--primary-color);
}